/*
 * font-family: 'Roboto', sans-serif;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --tt-heading: rgba(12, 52, 64, 1);
  --tt-label: rgba(0, 69, 58, 1);
  --tt-input: rgba(33, 37, 41, 1);
  --tt-placeholder: rgba(73, 80, 87, 0.5);
  --ot-input: rgba(2, 121, 157, 1);
  --bd-input: rgba(73, 80, 87, 0.3);
  --tt-button: rgba(255, 255, 255, 1);
  --bg-button: rgba(2, 121, 157, 1);
  --bg-error: rgba(240, 62, 62, 1);
  --tt-error: rgba(255, 255, 255, 1);
  --bg-input: rgba(220, 226, 233, 1);
  --bg-button-hover: rgba(1, 71, 92, 1);
}

body {
  font-family: "Robot", sans-serif;
  background-color: rgb(4, 9, 36);
}

body,
input,
button {
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}


.card {
  padding: 4.8rem 6.4rem 6.4rem;
  background: rgb(255, 255, 255);
  max-width: 42.8rem;
  margin-bottom: 10rem;
  border-radius: 0.6rem;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.card .title {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: bold;
  color: var(--tt-heading);
}

.card form {
  width: 100%;
}

.card form h1 {
  margin: 0 0 3.2rem;
}

.card form label {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--tt-label);
  margin: 0 0 0.8rem;
  display: block;
}

.card form input {
  width: 100%;
  border: 1px solid var(--bd-input);
  background-color: var(--bg-input);
  padding: 1.6rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

.card form input:focus {
  outline: 2px solid var(--ot-input);
}

.card form input::placeholder {
  color: var(--tt-placeholder);
  font-size: 1.6rem;
}

.card form .input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

.card form button {
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;
  border: none;
  background-color: var(--bg-button);
  color: var(--tt-button);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: bold;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background 0.5s;
}

.card form button:hover {
  background-color: var(--bg-button-hover);
}

/*
 * MODAL
 */

.modal-wrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  inset: 0;
  display: grid;
  place-content: center;
  visibility: hidden;
}

.modal-wrapper.open {
  visibility: visible;
}

.modal {
  position: relative;
}

.modal button {
  background: none;
  border: none;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.modal button:hover {
  transform: scale(1.1);
}

/*
 * ALERT ERROR
 */

.alert-error {
  position: absolute;
  background-color: var(--bg-error);
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--tt-error);
  padding: 0.8rem 0;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s;
  /*   visibility: hidden;
    transform: translateY(-10); */
}

.alert-error.open {
  /*   transform: translateY(0); */
  /*   visibility: visible; */
  opacity: 1;
}

@media (max-width: 390px) {
  .card {
    padding: 2rem;
    width: 95vw;
  }

  .card form {
  }

  .card form .input-wrapper {
    width: 100%;
  }
}